* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}
body {
    height:100vh;
    overflow: hidden;
}

canvas#c {
    background-image: url('../img/background.png');
    z-index:0;
}

.menu {
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    width: 300px;
    margin: 500px auto 0 auto;
    z-index:9999;
}

.menu #start_game {
    border:none;
    background-color: #27ae60;
    color: #efefef;
    font-weight: bold;
    font-size: 20px;
    padding: 30px;
}