* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}
body {
    height:100vh;
    overflow: hidden;
}

canvas#c {
    background-image: url('../img/background.jpg');
    background-size: cover;
    z-index: 0;
}

#menu {
    position: relative;
}

#start_game {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    z-index:1;
    padding:20px 50px;
    color: #EFEFEF;
    font-weight: bold;
    font-size: 20px;
    background-color: #2980b9;
    border:none;
}

#start_game:focus {
    outline: none;
}
#start_game:active {
    background-color: #3498db;
}
#start_game::selection {
    background-color: inherit;
}

/*#start_game {*/
    /*border:none;*/
    /*background-color: #27ae60;*/
    /*color: #efefef;*/
    /*font-weight: bold;*/
    /*font-size: 20px;*/
    /*padding: 30px;*/
/*}*/

#game_over {
    display: none;
}

#btn_main_menu {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    z-index:1;
    padding:20px 50px;
    color: #EFEFEF;
    font-weight: bold;
    font-size: 20px;
    background-color: #2980b9;
    border:none;
}